<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div style="margin-top: 14px;">
    <a href="/page/addBook" class="btn btn-success">添加</a>
</div>
<table class="table table-hover table-bordered" id="mytable">
    <thead>
    <tr>
        <th>编号</th>
        <th>书名</th>
        <th>作者</th>
        <th>价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="listTable">
    <tr th:each="book:${books}">
        <td th:text="${book.bookId}"></td>
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
        <td th:text="${book.id}" style="display: none"></td>
        <td>
            <a th:href="@{'/book/delete/'+ ${book.id}}" class="btn btn-danger">删除</a>
            <a th:href="@{'/page/editBook/'+ ${book.id}}" class="btn btn-info">修改</a>
        </td>
    </tr>
    </tbody>
</table>
<script src="/static/js/jquery.min.js"></script>
<script>
    $(function () {
        $("#del").click(function () {
            $("#del").parent().parent().remove()
        });
    })
</script>
</body>
</html>